{% extends "base.html" %}
{% block title %}Form page{% endblock%}
{% block content %}
	<p><strong>Please fill the following so we can rate your automobile industry</strong></p>
	<div id = "pickYears">
		<p style="text-align:center;">Select the Years</p>
		<div id= "yearLine" style="text-align:center;">
			<input type="text" id = "year1" class ="datepicker">
			<input type="text" id = "year2 "class ="datepicker">
			<input type="text" id = "year3" class ="datepicker">
		</div>
	</div>
	<div id="first2">
		<div id="first">
			<p class= "p1"><strong>Production and Consumption</strong></p>
			<div class= "wholeQuestions">
				<div class = "questions">
					<div class= "question">
					<p>first?</p>
					</div>
					<div title = "whaaaaat" class= "icon">
						<i class="fas fa-info-circle"></i>
					</div>

				</div>
				<div class = "questions">
					
				</div>
				<div class = "inputs">
					<input type="number" class = "input">
					<input type="number" class = "input">
					<input type="number" class = "input">
				</div>	
			</div>
			<div class= "wholeQuestion">
				<div class = "questions">
					<div class= "question">
					<p>second?</p>
					</div>
					<div title = "whaaaaat" class= "icon">
						<i class="fas fa-info-circle"></i>
					</div>
				</div>
				<div class = "inputs">
					<input type="number" class = "input">
					<input type="number" class = "input">
					<input type="number" class = "input">
				</div>	
			</div>
			<div class= "wholeQuestion">
				<div class = "questions">
					<div class= "question">
					<p>third?</p>
					</div>
					<div title = "whaaaaat" class= "icon">
						<i class="fas fa-info-circle"></i>
					</div>
				</div>
				<div class = "inputs">
					<input type="number" class = "input">
					<input type="number" class = "input">
					<input type="number" class = "input">
				</div>	
			</div>
			<div class= "wholeQuestion">
				<div class = "questions">
					<div class= "question">
					<p>forth?</p>
					</div>
					<div title = "whaaaaat" class= "icon">
						<i class="fas fa-info-circle"></i>
					</div>
				</div>
				<div class = "inputs">
					<input type="number" class = "input">
					<input type="number" class = "input">
					<input type="number" class = "input">
				</div>	
			</div>
		</div>
		<div id= "second">
			<p class= "p1"><strong>Waste Management</strong></p>
			<div class= "wholeQuestions">
				<div class = "questions">
					<div class= "question">
					<p>first?</p>
					</div>
					<div title = "whaaaaat" class= "icon">
						<i class="fas fa-info-circle"></i>
					</div>

				</div>
				<div class = "questions">
					
				</div>
				<div class = "inputs">
					<input type="number" class = "input">
					<input type="number" class = "input">
					<input type="number" class = "input">
				</div>	
			</div>
			<div class= "wholeQuestion">
				<div class = "questions">
					<div class= "question">
					<p>second?</p>
					</div>
					<div title = "whaaaaat" class= "icon">
						<i class="fas fa-info-circle"></i>
					</div>
				</div>
				<div class = "inputs">
					<input type="number" class = "input">
					<input type="number" class = "input">
					<input type="number" class = "input">
				</div>	
			</div>
			<div class= "wholeQuestion">
				<div class = "questions">
					<div class= "question">
					<p>third?</p>
					</div>
					<div title = "whaaaaat" class= "icon">
						<i class="fas fa-info-circle"></i>
					</div>
				</div>
				<div class = "inputs">
					<input type="number" class = "input">
					<input type="number" class = "input">
					<input type="number" class = "input">
				</div>	
			</div>
			<div class= "wholeQuestion">
				<div class = "questions">
					<div class= "question">
					<p>forth?</p>
					</div>
					<div title = "whaaaaat" class= "icon">
						<i class="fas fa-info-circle"></i>
					</div>
				</div>
				<div class = "inputs">
					<input type="number" class = "input">
					<input type="number" class = "input">
					<input type="number" class = "input">
				</div>	
			</div>
		</div>
	</div>
	<div id="second2">
		<div id="third">
			<p class= "p1"><strong>Secondary Materials</strong></p>
			<div class= "wholeQuestions">
				<div class = "questions">
					<div class= "question">
					<p>first?</p>
					</div>
					<div title = "whaaaaat" class= "icon">
						<i class="fas fa-info-circle"></i>
					</div>

				</div>
				<div class = "questions">
					
				</div>
				<div class = "inputs">
					<input type="number" class = "input">
					<input type="number" class = "input">
					<input type="number" class = "input">
				</div>	
			</div>
			<div class= "wholeQuestion">
				<div class = "questions">
					<div class= "question">
					<p>second?</p>
					</div>
					<div title = "whaaaaat" class= "icon">
						<i class="fas fa-info-circle"></i>
					</div>
				</div>
				<div class = "inputs">
					<input type="number" class = "input">
					<input type="number" class = "input">
					<input type="number" class = "input">
				</div>	
			</div>
			<div class= "wholeQuestion">
				<div class = "questions">
					<div class= "question">
					<p>third?</p>
					</div>
					<div title = "whaaaaat" class= "icon">
						<i class="fas fa-info-circle"></i>
					</div>
				</div>
				<div class = "inputs">
					<input type="number" class = "input">
					<input type="number" class = "input">
					<input type="number" class = "input">
				</div>	
			</div>
			<div class= "wholeQuestion">
				<div class = "questions">
					<div class= "question">
					<p>forth?</p>
					</div>
					<div title = "whaaaaat" class= "icon">
						<i class="fas fa-info-circle"></i>
					</div>
				</div>
				<div class = "inputs">
					<input type="number" class = "input">
					<input type="number" class = "input">
					<input type="number" class = "input">
				</div>	
			</div>
		</div>
		<div id= "forth">
			<p class= "p1"><strong>Competitiveness and Innovation</strong></p>
			<div class= "wholeQuestions">
				<div class = "questions">
					<div class= "question">
					<p>first?</p>
					</div>
					<div title = "whaaaaat" class= "icon">
						<i class="fas fa-info-circle"></i>
					</div>

				</div>
				<div class = "questions">
					
				</div>
				<div class = "inputs">
					<input type="number" class = "input">
					<input type="number" class = "input">
					<input type="number" class = "input">
				</div>	
			</div>
			<div class= "wholeQuestion">
				<div class = "questions">
					<div class= "question">
					<p>second?</p>
					</div>
					<div title = "whaaaaat" class= "icon">
						<i class="fas fa-info-circle"></i>
					</div>
				</div>
				<div class = "inputs">
					<input type="number" class = "input">
					<input type="number" class = "input">
					<input type="number" class = "input">
				</div>	
			</div>
			<div class= "wholeQuestion">
				<div class = "questions">
					<div class= "question">
					<p>third?</p>
					</div>
					<div title = "whaaaaat" class= "icon">
						<i class="fas fa-info-circle"></i>
					</div>
				</div>
				<div class = "inputs">
					<input type="number" class = "input">
					<input type="number" class = "input">
					<input type="number" class = "input">
				</div>	
			</div>
			<div class= "wholeQuestion">
				<div class = "questions">
					<div class= "question">
					<p>forth?</p>
					</div>
					<div title = "whaaaaat" class= "icon">
						<i class="fas fa-info-circle"></i>
					</div>
				</div>
				<div class = "inputs">
					<input type="number" class = "input">
					<input type="number" class = "input">
					<input type="number" class = "input">
				</div>	
			</div>
		</div>
	</div>
	
{% endblock%}