{% extends "base.html" %}
{% block title %}Form page{% endblock%}
{% block content %}

<form action="" method="post">
    <p class="p1"><strong>Please fill the following so we can rate your automobile industry</strong></p>
    <div id="pickYears">
        <p style="text-align:center;">Select Years</p>
        <div id="yearLine" style="text-align:center;">
            <input type="text" name="year1" class="datepicker" required>
            <input type="text" name="year2" class="datepicker" required>
            <input type="text" name="year3" class="datepicker" required>
        </div>
    </div>
    <div id="formContainer">
        <div class="row">
            <div class="col square rounded mr-4 mt-4 mb-4 ml-7" style="background: #ff6666;"> <!-- prwth -->

                <div class="col">
                    <p class="p1 mb-5"><strong>Production and Consumption</strong></p>
                    <div class="row justify-content-center mb-2">
                        <p class="mr-3 mb-4">Ratio of Recycled Materials in Average Vehicle Production(%).</p>

                        <div title="Materials with recycling potential have unique
                            &#013;role on the road for a more Circular automotive industry!
                            &#013;Range: 0 - 100
                            &#013;Score: (>= 40) ->2 | (>=30) -> 1 | 0"
                             class="icon">
                            <i class="fas fa-info-circle"></i>
                        </div>
                    </div>

                    <div class="row justify-content-center mb-4">

                        <input type="number" step="0.01" name="rec1" min="0" max="100" class="rounded mr-1" required>
                        <input type="number" step="0.01" name="rec2" min="0" max="100" class="rounded" required>
                        <input type="number" step="0.01" name="rec3" min="0" max="100" class="rounded ml-1" required>

                    </div>

                    <div class="row justify-content-center mb-2">
                        <p class="mr-3 mb-4">Time of Disassemby on an Average Vehicle(hours).</p>

                        <div title="Small Disassemby time is essential for the circular
                            &#013;operations (Recycle, Remanufacture, etc)!!
                            &#013;Range: 0 - 50
                            &#013;Score: (<= 7) ->2 | (<=16) -> 1 | 0"
                             class="icon">
                            <i class="fas fa-info-circle"></i>
                        </div>
                    </div>

                    <div class="row justify-content-center mb-4">

                        <input type="number" step="0.01" name="disassembly1" min="0" max="50" class="rounded mr-1"
                               required>
                        <input type="number" step="0.01" name="disassembly2" min="0" max="50" class="rounded" required>
                        <input type="number" step="0.01" name="disassembly3" min="0" max="50" class="rounded ml-1"
                               required>

                    </div>

                    <div class="row justify-content-center mb-2">
                        <p class="mr-3 mb-4">Energy Consumption for the Production of an Average Vehicle(MWh).</p>

                        <div title="One of the main goals towards Circularity is the
                            &#013;reduction of the Energy used in Production!
                            &#013;Range: 0 - 6
                            &#013;Score: (<= 2) ->2 | (<=2.4) -> 1 | 0"
                             class="icon">
                            <i class="fas fa-info-circle"></i>
                        </div>
                    </div>

                    <div class="row justify-content-center mb-4">

                        <input type="number" step="0.01" name="energy1" min="0" max="6" class="rounded mr-1" required>
                        <input type="number" step="0.01" name="energy2" min="0" max="6" class="rounded" required>
                        <input type="number" step="0.01" name="energy3" min="0" max="6" class="rounded ml-1" required>

                    </div>

                    <div class="row justify-content-center mb-2">
                        <p class="mr-3 mb-4">Co2 emissions for the Production of an Average Vehicle(tonnes).</p>

                        <div title="Co^2 emissions have great economic and environmental
                            &#013;impacts. Their reduction is one more step towards Circularity!
                            &#013;Range: 0 - 4
                            &#013;Score: (<= 0.5) ->2 | (<= 0.7) -> 1 | 0"
                             class="icon">
                            <i class="fas fa-info-circle"></i>
                        </div>
                    </div>

                    <div class="row justify-content-center mb-4">

                        <input type="number" step="0.01" name="co2-1" min="0" max="4" class="rounded mr-1" required>
                        <input type="number" step="0.01" name="co2-2" min="0" max="4" class="rounded" required>
                        <input type="number" step="0.01" name="co2-3" min="0" max="4" class="rounded ml-1" required>

                    </div>

                    <div class="row justify-content-center mb-2">
                        <p class="mr-3 mb-4">Material loss in the Production of an Average Vehicle(tonnes).</p>

                        <div title="Material Loss in the Production proccess is a fine
                            &#013;Indicator of Circularity. These materials are hard to
                             &#013;be reused, so their quantity rate must be decreased!
                            &#013;Range: 0 - 10"
                             class="icon">
                            <i class="fas fa-info-circle"></i>
                        </div>
                    </div>

                    <div class="row justify-content-center mb-4">

                        <input type="number" step="0.01" name="loss1" min="0" max="10" class="rounded mr-1" required>
                        <input type="number" step="0.01" name="loss2" min="0" max="10" class="rounded" required>
                        <input type="number" step="0.01" name="loss3" min="0" max="10" class="rounded ml-1" required>

                    </div>

                    <div class="row justify-content-center mb-2">
                        <p class="mr-3 mb-4">Water used in the Production of an Average Vehicle(liter).</p>

                        <div title="The Production of a vehicle required a significant
                            &#013;amount of Water, the reduction of which is a good parameter
                             &#013;of Circularity's growth!
                            &#013;Range: 0 - 200
                            &#013;Score: (<= 130) ->2 | (<= 145) -> 1 | 0"
                             class="icon">
                            <i class="fas fa-info-circle"></i>
                        </div>
                    </div>

                    <div class="row justify-content-center mb-4">

                        <input type="number" step="0.01" name="water1" min="0" max="200" class="rounded mr-1" required>
                        <input type="number" step="0.01" name="water2" min="0" max="200" class="rounded" required>
                        <input type="number" step="0.01" name="water3" min="0" max="200" class="rounded ml-1" required>

                    </div>

                    <div class="row justify-content-center mb-2">
                        <p class="mr-3 mb-4">Number of parts with Remote Information Technologies on Average
                            Vehicle(parts). </p>

                        <div title="IOT Technologies are game-changing in the way that
                            &#013;we can observe what goes wrong in a Vehicle so we can
                             &#013;make them better and increase their lifetime!
                            &#013;Range: 0 - 500"
                             class="icon">
                            <i class="fas fa-info-circle"></i>
                        </div>
                    </div>

                    <div class="row justify-content-center mb-4">

                        <input type="number" step="1" name="parts1" min="0" max="500" class="rounded mr-1" required>
                        <input type="number" step="1" name="parts2" min="0" max="500" class="rounded" required>
                        <input type="number" step="1" name="parts3" min="0" max="500" class="rounded ml-1" required>

                    </div>

                    <div class="row justify-content-center mb-2">
                        <p class="mr-3 mb-4">Ratio of Vehicle Checks(%).</p>

                        <div title="The usual check of vehicles is really important,
                            &#013;because they achieve minor fixes and prevent serious
                             &#013;damage, increasing lifetime of vehicle!
                            &#013;Range: 0 - 100
                            &#013;(>= 90) ->2 | (>= 60) -> 1 | 0"
                             class="icon">
                            <i class="fas fa-info-circle"></i>
                        </div>
                    </div>

                    <div class="row justify-content-center mb-4">

                        <input type="number" step="0.01" name="check1" min="0" max="100" class="rounded mr-1" required>
                        <input type="number" step="0.01" name="check2" min="0" max="100" class="rounded" required>
                        <input type="number" step="0.01" name="check3" min="0" max="100" class="rounded ml-1" required>

                    </div>
                </div>


            </div>
            <div class="col">
                <div class="row"> <!-- deuterh -->
                    <div class="col square rounded ml-4 mt-4 mb-4 mr-7" style="background: #a6ff4d;">
                        <div class="col">
                            <p class="p1 mb-5"><strong>Waste Management</strong></p>
                            <div class="row justify-content-center mb-2">
                                <p class="mr-3 mb-4">Mass Ratio of EOL vehicle waste which will be reused(%).</p>

                                <div title="Some parts of the vehicle at the end of its life
                                        &#013;are in fine condition and can be reused with or
                                         &#013;without modifications feeding a material loop!
                                        &#013;Range: 0 - 100
                                        &#013;Score: Reused + Recycling: (>= 85) ->2 | (>= 70) -> 1 | 0"
                                     class="icon">
                                    <i class="fas fa-info-circle"></i>
                                </div>
                            </div>

                            <div class="row justify-content-center mb-4">
                                <input type="number" step="0.01" name="reused1" min="0" max="100" class="rounded mr-1"
                                       required>
                                <input type="number" step="0.01" name="reused2" min="0" max="100" class="rounded"
                                       required>
                                <input type="number" step="0.01" name="reused3" min="0" max="100" class="rounded ml-1"
                                       required>
                            </div>

                            <div class="row justify-content-center mb-2">
                                <p class="mr-3 mb-4">Ratio of EOL Vehicles which will be remanufactured(%).</p>

                                <div title="Some vehicles at the end of their life are in good
                                    &#013;condition and can be remanufactured so that some of their
                                     &#013;parts can be used again!
                                    &#013;Range: 0 - 100
                                    &#013;Score: (>= 15) ->2 | (>= 9) -> 1 | 0"
                                     class="icon">
                                    <i class="fas fa-info-circle"></i>
                                </div>
                            </div>

                            <div class="row justify-content-center mb-4">
                                <input type="number" step="0.01" name="remanufactured1" min="0" max="100"
                                       class="rounded mr-1"
                                       required>
                                <input type="number" step="0.01" name="remanufactured2" min="0" max="100"
                                       class="rounded"
                                       required>
                                <input type="number" step="0.01" name="remanufactured3" min="0" max="100"
                                       class="rounded ml-1"
                                       required>
                            </div>

                            <div class="row justify-content-center mb-2">
                                <p class="mr-3 mb-4">Mass Ratio of EOL Vehicles which will be recycled(%).</p>

                                <div title="End of life vehicles are often a huge source of recycled
                                    &#013;materials, which contributes in the production loop!
                                    &#013;Range: 0 - 100
                                    &#013;Score: Reused + Recycling: (>= 85) ->2 | (>= 70) -> 1 | 0"
                                     class="icon">
                                    <i class="fas fa-info-circle"></i>
                                </div>
                            </div>

                            <div class="row justify-content-center mb-4">

                                <input type="number" step="0.01" name="recycling1" min="0" max="100"
                                       class="rounded mr-1"
                                       required>
                                <input type="number" step="0.01" name="recycling2" min="0" max="100" class="rounded"
                                       required>
                                <input type="number" step="0.01" name="recycling3" min="0" max="100"
                                       class="rounded ml-1"
                                       required>

                            </div>

                            <div class="row justify-content-center mb-2">
                                <p class="mr-3 mb-4">Ratio of EOL Vehicles retrieved properly(%).</p>

                                <div title="Retrieving properly vehicles at the end of their live is
                                    &#013;essential for the circular proccesses, as material loop inputs!
                                    &#013;Range: 0 - 100
                                    &#013;Score: (>= 90) ->2 | (>= 75) -> 1 | 0"
                                     class="icon">
                                    <i class="fas fa-info-circle"></i>
                                </div>
                            </div>

                            <div class="row justify-content-center mb-5">
                                <input type="number" step="0.01" name="eol1" min="0" max="100" class="rounded mr-1"
                                       required>
                                <input type="number" step="0.01" name="eol2" min="0" max="100" class="rounded" required>
                                <input type="number" step="0.01" name="eol3" min="0" max="100" class="rounded ml-1"
                                       required>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="row"> <!-- trith -->
                    <div class="col square rounded ml-4 mt-4 mb-4 mr-7" style="background: #ffffb3;">
                        <div class="col">
                            <p class="p1 mb-5"><strong>Secondary Materials</strong></p>
                            <div class="row justify-content-center mb-2">
                                <p class="mr-3 mb-4">Average Ratio of non Virgin Material of an Average Vehicle(%)</p>

                                <div title="The percentage of the non virgin material in a vehicle is
                                    &#013;a fine indicator which can monitor the increase of the secondary
                                     &#013;material demand!
                                    &#013;Range: 0 - 100
                                    &#013;Score: (>= 40) ->2 | (>= 30) -> 1 | 0"
                                     class="icon">
                                    <i class="fas fa-info-circle"></i>
                                </div>
                            </div>

                            <div class="row justify-content-center mb-5">
                                <input type="number" step="0.01" name="sec1" min="0" max="100" class="rounded mr-1"
                                       required>
                                <input type="number" step="0.01" name="sec2" min="0" max="100" class="rounded" required>
                                <input type="number" step="0.01" name="sec3" min="0" max="100" class="rounded ml-1"
                                       required>
                            </div>

                            <div class="row justify-content-center mb-2">
                                <p class="mr-3 mb-4">Mass Ratio of EOL Vehicles that feeds further Industries(%)</p>

                                <div title="The material loops are more efficient out of the borders
                                    &#013;of one Industry. Taking account of the secondary material
                                     &#013;supply to other industries gives us one more indicator towards circularity!
                                    &#013;Range: 0 - 100"
                                     class="icon">
                                    <i class="fas fa-info-circle"></i>
                                </div>
                            </div>

                            <div class="row justify-content-center mb-5">
                                <input type="number" step="0.01" name="feed1" min="0" max="100" class="rounded mr-1"
                                       required>
                                <input type="number" step="0.01" name="feed2" min="0" max="100" class="rounded"
                                       required>
                                <input type="number" step="0.01" name="feed3" min="0" max="100" class="rounded ml-1"
                                       required>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row w-50 justify-content-center mb-5" style="margin-left: 25%;"> <!-- tetarth -->
            <div class="col square rounded ml-4 mt-4 mb-4 mr-7" style="background: #ccf2ff;">
                <div class="col">
                    <p class="p1 mb-5"><strong>Competiveness and Innovation</strong></p>
                    <div class="row justify-content-center mb-2">
                        <p class="mr-3 mb-4">Number of Employees working on Jobs which include any Circular
                            Process(employees)</p>

                        <div title="It is important to track the employment rate in Circular
                                    &#013;operations because this reflects the interest of an industry in Circular Economy!
                                    &#013;Range: 0 - 5000"
                             class="icon">
                            <i class="fas fa-info-circle"></i>
                        </div>
                    </div>

                    <div class="row justify-content-center mb-5">
                        <input type="number" step="1" name="jobs1" min="0" max="5000" class="rounded mr-1" required>
                        <input type="number" step="1" name="jobs2" min="0" max="5000" class="rounded" required>
                        <input type="number" step="1" name="jobs3" min="0" max="5000" class="rounded ml-1" required>
                    </div>

                    <div class="row justify-content-center mb-2">
                        <p class="mr-3 mb-4">Number of Circular Projects(projects).</p>

                        <div title="New Circular ideas are born every day, that drives industries
                                    &#013;in creating new teams working exclusively in Circular Projects!
                                    &#013;Range: 0 - 100"
                             class="icon">
                            <i class="fas fa-info-circle"></i>
                        </div>
                    </div>

                    <div class="row justify-content-center mb-5">
                        <input type="number" step="1" name="project1" min="0" max="50" class="rounded mr-1" required>
                        <input type="number" step="1" name="project2" min="0" max="50" class="rounded" required>
                        <input type="number" step="1" name="project3" min="0" max="50" class="rounded ml-1" required>
                    </div>

                    <div class="row justify-content-center mb-2">
                        <p class="mr-3 mb-4">Ratio of Capital founds spent on R&D for Circular Ideas(%).</p>

                        <div title="One more metric of how much an industry is interested about the
                                    &#013;circular way is the funds provided for Research and Development
                                     &#013;on this field!
                                     &#013;Range: 0 - 100"
                             class="icon">
                            <i class="fas fa-info-circle"></i>
                        </div>
                    </div>

                    <div class="row justify-content-center mb-5">
                        <input type="number" step="0.01" name="capital1" min="0" max="100" class="rounded mr-1"
                               required>
                        <input type="number" step="0.01" name="capital2" min="0" max="100" class="rounded" required>
                        <input type="number" step="0.01" name="capital3" min="0" max="100" class="rounded ml-1"
                               required>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-5 w-75" style="margin-left: 12.5%;">
            <input type="submit" class="btn btn-secondary btn-lg btn-block" value="submit"/>
        </div>

    </div>


</form>

{% endblock %}