{% extends "base.html" %}
{% block title %}Home page{% endblock%}
{% block content %}
	<div id = "container">
		<div id= "divCircular">
			<div id = "circText">
				<h1>What is Circular economy?</h1>
				<p>Circular Text</p>
			</div>
			<div id = "circImage">
				<p>Image</p>
			</div>
		</div>
		<div id ="divAutomotive">
			<div id = "autoImage">
				<p>Image</p>
			</div>
			<div id = "autoText">
				<h1>The importance of Circular Economy in Automobile industry.</h1>
				<p>Automobile-Circular text</p>
			</div>
		</div>
		<div id = "divThisPage">
			<div id = "pageText">
				<h1>What is the purpose of this page?</h1>
				<p>Purpose Text</p>
			</div>
		</div>
	</div>
{% endblock%}