{% extends "base.html" %}
{% block title %}Indicators{% endblock%}
{% block content %}
<div>
    <h1>Indicators:</h1>
</div>
<div class="container1" style="width: 85%;margin-left:7.5%;">
    <div class="row"> <!--prwth-->
        <h1 class="mt-4 mb-5">Production and Consumption</h1>
        <table class="table table-danger">
            <thead class="thead-light">
            <tr>
                <th scope="col" style="width: 20%">Indicator</th>
                <th scope="col" style="width: 25%">Description</th>
                <th scope="col">Metric</th>
                <th scope="col">Subcategory</th>
                <th scope="col" style="width: 10%">Range</th>
                <th scope="col" style="width: 17%">Values</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">Ratio of Recycled Materials in Average Vehicle Production</th>
                <td>There are many materials on a Vehicle that can be
                    provided by a recycling method, like plastic.
                </td>
                <td>%</td>
                <td>Eco-Design Production</td>
                <td>0 - 100</td>
                <td>(>= 40): 2
                    <br>(>=30 & < 40 ): 1
                    <br>(< 30): 0
                </td>
            </tr>
            <tr>
                <th scope="row">Time of Disassemby on an Average Vehicle</th>
                <td>The smaller time of a Vehicle's disassembly is a major
                    factor for whether circularity processes are profitable.
                </td>
                <td>hours</td>
                <td>Eco-Design Production</td>
                <td>0 - 50</td>
                <td>(<= 7): 2
                    <br>(>7 & <= 16 ): 1
                    <br>(> 16): 0
                </td>
            </tr>
            <tr>
                <th scope="row">Energy Consumption for the Production of an Average Vehicle</th>
                <td>Automobile Industries consume a lot of energy, so it is essential to monitor
                    this.
                </td>
                <td>MWh</td>
                <td>Water and Energy Consumption</td>
                <td>0 - 6</td>
                <td>(<= 2): 2
                    <br>(>2 & <= 2.4 ): 1
                    <br>(> 2.4): 0
                </td>
            </tr>
            <tr>
                <th scope="row">Co2 emissions for the Production of an Average Vehicle</th>
                <td>Co^2 emissions are really harmful for the environment
                    while automobile industries produce high numbers of this
                </td>
                <td>tonnes</td>
                <td>Waste Production</td>
                <td>0 - 4</td>
                <td>(<= 0.5): 2
                    <br>(>0.5 & <= 0.7 ): 1
                    <br>(> 0.7): 0
                </td>
            </tr>
            <tr>
                <th scope="row">Material loss in the Production of an Average Vehicle</th>
                <td>Significant mass of material is lost in the production Process.</td>
                <td>kg</td>
                <td>Waste Production</td>
                <td>0 - 10</td>
                <td><sup>*</sup>NCV</td>
            </tr>
            <tr>
                <th scope="row">Water used in the Production of an Average Vehicle</th>
                <td>In the production of a vehicle a huge amount of water is
                    consumed.
                </td>
                <td>liter</td>
                <td>Water and Energy Consumption</td>
                <td>0 - 200</td>
                <td>(<= 130): 2
                    <br>(>130 & <= 145 ): 1
                    <br>(> 145): 0
                </td>
            </tr>
            <tr>
                <th scope="row">Number of parts with Remote Information Technologies on Average Vehicle</th>
                <td>Remote Information Technologies help us find every problem and fix it
                    expanding vehicle's life time.
                </td>
                <td>parts</td>
                <td>Maintenance and Repair</td>
                <td>0 - 500</td>
                <td><sup>*</sup>NCV</td>
            </tr>
            <tr>
                <th scope="row">Ratio of Vehicle Checks</th>
                <td>Tactical checks can prevent damages and expand vehicle's life time</td>
                <td>%</td>
                <td>Maintenance and Repair</td>
                <td>0 - 100</td>
                <td>(>= 90): 2
                    <br>(<90 & >= 60): 1
                    <br>(< 145): 0
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row"> <!--second-->
        <h1 class="mt-4 mb-5 text-center">Waste Management</h1>
        <table class="table table-success">
            <thead class="thead-light">
            <tr>
                <th scope="col" style="width: 20%">Indicator</th>
                <th scope="col" style="width: 25%">Description</th>
                <th scope="col">Metric</th>
                <th scope="col">Subcategory</th>
                <th scope="col" style="width: 10%">Range</th>
                <th scope="col" style="width: 17%">Values</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">Mass Ratio of EOL vehicle waste which will be reused</th>
                <td>Some parts of an EOL vehicle are going to be reused.</td>
                <td>%</td>
                <td>Recycle
                    <br>Reuse
                    <br>Remanufacture
                </td>
                <td>0 -100</td>
                <td>Reused + Recycling:
                    <br>(>= 85): 2
                    <br>(>= 70 & <85): 1
                    <br>(< 70): 0
                </td>
            </tr>
            <tr>
                <th scope="row">Ratio of EOL Vehicles' Parts which will be remanufactured</th>
                <td>Some of EOL parts can be remanufactured and enter the Production again.</td>
                <td>%</td>
                <td>Recycle
                    <br>Reuse
                    <br>Remanufacture
                </td>
                <td>0 -100</td>
                <td>(>= 15): 2
                    <br>(>= 9 & <15): 1
                    <br>(<9): 0
                </td>
            </tr>
            <tr>
                <th scope="row">Mass Ratio of EOL Vehicles which will be recycled</th>
                <td>Some parts of an EOL vehicle are going to be recycled.</td>
                <td>%</td>
                <td>Recycle
                    <br>Reuse
                    <br>Remanufacture
                </td>
                <td>0 -100</td>
                <td>Reused + Recycling:
                    <br>(>= 85): 2
                    <br>(>= 70 & <85): 1
                    <br>(< 70): 0
                </td>
            </tr>
            <tr>
                <th scope="row">Ratio of EOL Vehicles retrieved properly</th>
                <td>It is important for EOL vehicles to be retrieved properly so
                    the Circular Processes will be applied on them.
                </td>
                <td>%</td>
                <td>EOL Retrieve Centers</td>
                <td>0 - 100</td>
                <td>(>= 90): 2
                    <br>(< 90 & >=75): 1
                    <br>(< 70): 0
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row"> <!--third-->
        <h1 class="mt-4 mb-5" style="text-align: center;">Secondary Materials</h1>
        <table class="table table-warning">
            <thead class="thead-light">
            <tr>
                <th scope="col" style="width: 20%">Indicator</th>
                <th scope="col" style="width: 25%">Description</th>
                <th scope="col">Metric</th>
                <th scope="col">Subcategory</th>
                <th scope="col" style="width: 10%">Range</th>
                <th scope="col" style="width: 17%">Values</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">Average Ratio of non Virgin Material of an Average Vehicle</th>
                <td>It is important for Automotive Industry to use non-Virgin Material also.</td>
                <td>%</td>
                <td>Secondary-Demand</td>
                <td>0 -100</td>
                <td><(>= 40): 2
                    <br>(< 40 & >=30): 1
                    <br>(< 30): 0
                </td>
            </tr>
            <tr>
                <th scope="row">Mass Ratio of EOL Vehicles that feeds further Industries</th>
                <td>Some of the secondary material coming from end of life
                    feed other Industries creating a loop.
                </td>
                <td>%</td>
                <td>EOL Demand Cover</td>
                <td>0 - 100</td>
                <td><sup>*</sup>NCV</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row"> <!--forth-->
        <h1 class="mt-4 mb-5" style="text-align: center;">Competitiveness and Innovation</h1>
        <table class="table table-info">
            <thead class="thead-light">
            <tr>
                <th scope="col" style="width: 20%">Indicator</th>
                <th scope="col" style="width: 25%">Description</th>
                <th scope="col">Metric</th>
                <th scope="col">Subcategory</th>
                <th scope="col" style="width: 10%">Range</th>
                <th scope="col" style="width: 17%">Values</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">Number of Employees working on Jobs which include any Circular Process</th>
                <td>Circular Economy made place for new jobs.</td>
                <td>employees</td>
                <td>Employment</td>
                <td>0 - 5000</td>
                <td><sup>*</sup>NCV</td>
            </tr>
            <tr>
                <th scope="row">Number of Circular Projects</th>
                <td>Auto Industries create more and more projects for circular ideas.</td>
                <td>projects</td>
                <td>Investment</td>
                <td>0 - 100</td>
                <td><sup>*</sup>NCV</td>
            </tr>
            <tr>
                <th scope="row">Ratio of Capital founds spent on R&D for Circular Ideas</th>
                <td>It is important for an Industry to be a pioneer and invest
                    in circular ideas.
                </td>
                <td>%</td>
                <td>Investment</td>
                <td>0 - 100</td>
                <td><sup>*</sup>NCV</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <h3><sup>*</sup>NVC = NO COMPARABLE VALUE</h3>
    </div>

</div>

{% endblock%}
