#circ_Image{
    transition: transform .2s;
}

#circ_Image:hover{
    transform: scale(1.2);
}

#auto_Image{
    transition: transform .2s;
    margin-left: 2%;
}

#auto_Image:hover{
    transform: scale(1.4);
    z-index: 2;
    margin-left: 6%;
}

.rounded {
    border-radius: 25px!important
}

.border-3 {
    border-width:3px !important;
}
.mt-6,
.my-6 {
  margin-top: 10rem !important;
}

.mr-6,
.mx-6 {
  margin-right: 10rem !important;
}

.mb-6,
.my-6 {
  margin-bottom: 10rem !important;
}

.ml-6,
.mx-6 {
  margin-left: 10rem !important;
}

.mt-7,
.my-7 {
  margin-top: 3rem !important;
}

.mr-7,
.mx-7 {
  margin-right: 3rem !important;
}

.mb-7,
.my-7 {
  margin-bottom: 3rem !important;
}

.ml-7,
.mx-7 {
  margin-left: 3rem !important;
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

body{
    background: #a9a9a9;
}
#submit{
	float: left;
	margin-left: 30%
}


img{
    width:100%;
    height:100%;
}



#pickYears{
	margin-top: 30px;
	margin-bottom: 30px;
}
.pen{
	float: left;
}

p2{
	text-align: center;
}
.p1{
	font-size: 1.875em;
	text-align: center;
}

.icon{
	float: left;
}

