

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

.dots{
    position: absolute;
    left: 50%;
    bottom: 0;
}

.inp3{
    width: 30%;
}

#nextBtn{
    margin-right: 50%;
}



 /* Style the form */

#regForm {
  background-color: #e1e1e1;
  margin: auto;
  padding: 40px;
  width: 80%;
  min-width: 300px;
}

/* Style the input fields */



input {
  padding: 10px;
  width: 100%;
  font-size: 16px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}

#mainWindow{
    border: 3px solid #e1e1e1;
}
.t2{
    color: #f1f1f1;
}

.col1{
text-align: center;
width: 4.7%;
}

#bar2{
    margin-left: 17%;
}

#bar{
    height: 30px;
}
.resultSum{
    background: #e1e1e1;
}
.progress{
    border: 2px solid black;
}
.canvas{
    background: #e1e1e1;
}

.pCyrcle {
    text-align:center;
    display: flex;


    background-color: #fff;
    border-radius: 50%;
    border: 2px solid #f1f1f1;
    z-index: 10;
}
.line {
    width: 9%;
    border-top: 3px solid grey;
    z-index: 0;
}

#circ_Image{
    height: 300px;
    transition: transform .2s;
}

#circ_Image:hover{
    transform: scale(1.2);
}

#auto_Text{
    width: 65%;
}

#auto_Image{
    width: 35%;
    height: 360px;
    transition: transform .2s;
    margin-left: 2%;
}

#auto_Image:hover{
    transform: scale(1.24);
    z-index: 2;
    margin-left: 6%;
}

.rounded {
    border-radius: 25px!important
}

.border-3 {
    border-width:3px !important;
}
.mt-6,
.my-6 {
  margin-top: 10rem !important;
}

.mr-6,
.mx-6 {
  margin-right: 10rem !important;
}

.mb-6,
.my-6 {
  margin-bottom: 10rem !important;
}

.ml-6,
.mx-6 {
  margin-left: 10rem !important;
}

.mt-7,
.my-7 {
  margin-top: 3rem !important;
}

.mr-7,
.mx-7 {
  margin-right: 3rem !important;
}

.mb-7,
.my-7 {
  margin-bottom: 3rem !important;
}

.ml-7,
.mx-7 {
  margin-left: 3rem !important;
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
/*
body{
    background: #a9a9a9;
}
*/
#submit{
	float: left;
	margin-left: 30%
}


img{
    width:100%;
    height:100%;
}



#pickYears{
	margin-top: 30px;
	margin-bottom: 30px;
}
.pen{
	float: left;
}

p2{
	text-align: center;
}
.p1{
	font-size: 1.875em;
	text-align: center;
}

.icon{
	float: left;
}

